* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

:root{
    --background-container: #ffffff;
    --blue-font:#0095f6;
    --background-page: rgb(243,243,243);
    --grey-font: rgb(160,160,160)
}