html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    min-width: 360px;
    display: flex;
    justify-content: center;
    background-color: var( --background-page);
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.wrapper .cellphone {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.wrapper .cellphone img {
    height: 65rem;
}

.wrapper .continue-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 55rem;
}

.wrapper .continue-container .container {
    background-color: var(--background-container);
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2.8rem 0;

}

.continue-container:nth-child(1){
    min-height: 30rem;
}

.container .logo {
    height: 4.2rem;
    margin: 1rem;
}

.container .profile {
    height: 8.4rem;
    border-radius: 50%;
}

.container .continue {
    background-color: var(--blue-font);
    color: #fff;
    padding: 0.8rem;
    border-radius: 0.4rem;
    margin: 2.5rem;
}

.container a {
    color: var(--blue-font);
}

.container .is-not {
    color: var(--grey-font);
    margin: 1rem;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.images-app {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 4.8rem;
    width: 16rem;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
}

.app-download:nth-child(1) {
    background-image: url('../Images/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('../Images/googleplay-button.png');
}

@media (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 780px) {
    body {
        background-color: var(--background-container);
    }

    .wrapper {
        width: 95%;
    }

    .wrapper .cellphone {
        display: none;
    }

    .wrapper .continue-container {
        width: 60%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}

@media (max-width: 610px) {
    .wrapper .continue-container {
        width: 100%;
    }

}